html {
    font-family: Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

html {
    color: #222;
    font-size: 14px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img, svg {
    vertical-align: middle;
}

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    a[href^="#"]:after {
        content: "";
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p {
        orphans: 3;
        widows: 3;
    }
}

@media (min-width: 0px) and (max-width: 999px) {
    .hidden-sm {
        display: none !important;
    }
}

.stepper {
    margin: 0 0 10px 0;
    overflow: hidden;
    position: relative;
}

.stepper .stepper-input {
    border: none;
    color: #333;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    padding: 12px 0 10px;
    width: 40px;
    z-index: 49;
    -moz-appearance: textfield;
}

.stepper .stepper-input:focus {
    background-color: #fff;
}

.stepper .stepper-arrow {
    background: #fff url(images/templates/jquery.fs.stepper-arrows.png) no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    height: 50%;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    width: 25px;
    z-index: 50;
}

.stepper .stepper-arrow.up {
    background-position: center top;
    border-bottom: none;
    border-top: none;
    border-right: none;
    top: 0;
}

.stepper .stepper-arrow.down {
    background-position: center bottom;
    border-bottom: none;
    border-right: none;
    bottom: 0;
}

@media screen and (min-width: 740px) {
    .stepper:hover .stepper-input {
        background-color: #fff;
    }
}

.product_count_wrapper {
    line-height: 42px;
    height: 40px;
    width: 67px;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.product_count_wrapper .stepper-arrow {
    background: url(images/templates/jquery.fs.stepper-arrows.png) no-repeat #fff;
}

.product_count_wrapper .stepper-arrow.up {
    background-position: -29px 0;
}

.product_count_wrapper .stepper-arrow.up:hover {
    background-color: #666;
    background-position: -1px 0;
}

.product_count_wrapper .stepper-arrow.down {
    background-position: -29px -20px;
}

.product_count_wrapper .stepper-arrow.down:hover {
    background-color: #666;
    background-position: -1px -20px;
}

.btn, .btn:hover {
    color: #fff;
}

.btn {
    text-align: center;
    text-decoration: none;
}

.btn, .ic {
    display: inline-block;
    vertical-align: middle;
}

.btn {
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    border: none;
    padding: 0 25px;
    font: 14px/40px Arial, Helvetica, sans-serif;
}

.product .btn_cart {
    background: #f90;
}

.product .btn_cart:hover {
    background: #333;
}

.ic {
    position: relative;
}

.ic {
    background-image: url(images/el.png);
    background-repeat: no-repeat;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    fill: #999;
}

svg.ic:hover {
    cursor: pointer;
}

.stepper-input:focus {
    background-color: #fff;
}

.stepper, .stepper-input {
    overflow: hidden;
}

.stepper {
    margin: 0 0 10px;
    position: relative;
}

.stepper-input {
    border: none;
    color: #333;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    padding: 12px 8px 10px;
    text-align: center;
    width: 40px;
    z-index: 49;
    -moz-appearance: textfield;
}

.stepper-arrow {
    /*background: url(images/jquery.fs&-arrows.png) no-repeat #fff;*/
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    height: 50%;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    width: 25px;
    z-index: 50;
}

.stepper-arrow.up {
    background-position: center top;
    border-bottom: none;
    border-top: none;
    border-right: none;
    top: 0;
}

.stepper-arrow.down {
    background-position: center bottom;
    border-bottom: none;
    border-right: none;
    bottom: 0;
}

.container {
    margin: 0 auto;
}

/*! CSS Used from: bundle-1732f80f0a.min.css */
*, :after, :before {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #fff;
    color: #000;
    min-height: 100%;
    min-width: 768px;
    position: relative;
}

body {
    padding: 0;
}

img {
    vertical-align: middle;
}

a {
    color: #000;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

a:hover {
    text-decoration: none;
}

:focus, a:focus {
    outline: none;
}

p {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 18px;
}

p:last-child {
    margin-bottom: 0;
}

.grid {
    *zoom: 1;
}

.grid:after, .grid:before {
    display: table;
    line-height: 0;
    content: "";
}

.grid:after {
    clear: both;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

::-webkit-input-placeholder {
    color: #ccc;
}

:-moz-placeholder, ::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ccc;
}

input::-ms-clear {
    display: none;
}

.ic {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-image: url(images/templates/el.png);
    background-repeat: no-repeat;
    background-position: 999999px 0;
    transform: translate(0);
    fill: #999;
}

.ic_cart {
    width: 20px;
    height: 20px;
    background: none;
    fill: #fff;
}

.btn {
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 25px;
    font: 14px/40px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.btn, .btn:hover {
    color: #fff;
}

.product .btn_cart {
    background: #f90;
}

.product .btn_cart:hover {
    background: #333;
}

.stepper {
    margin: 0 0 10px;
    overflow: hidden;
    position: relative;
}

.stepper-input {
    border: none;
    color: #333;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    padding: 12px 8px 10px;
    text-align: center;
    width: 40px;
    z-index: 49;
    -moz-appearance: textfield;
}

.stepper-input:focus {
    background-color: #fff;
}

.stepper-arrow {
    background: #fff url(images/templates/jquery.fs.stepper-arrows.png) no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    height: 50%;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    width: 25px;
    z-index: 50;
}

.stepper-arrow.up {
    background-position: top;
    border-bottom: none;
    border-top: none;
    border-right: none;
    top: 0;
}

.stepper-arrow.down {
    background-position: bottom;
    border-bottom: none;
    border-right: none;
    bottom: 0;
}

.container {
    margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 999px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1000px) and (max-width: 1249px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1250px) {
    .container {
        width: 1250px;
    }
}

.column_right {
    margin: 20px 0 14px;
    width: 1000px;
    float: left;
    position: relative;
}

@media (min-width: 0px) and (max-width: 999px) {
    .column_right {
        width: 750px;
        float: none;
    }

    .sub_category_page .column_right_products_container {
        float: left;
        width: 500px;
        margin-top: 0;
    }
}

@media (min-width: 1000px) and (max-width: 1249px) {
    .column_right {
        width: 750px;
    }
}

.product {
    width: 240px;
    height: 545px;
    border: 1px solid #e0e0e0;
    margin: 10px 5px 0;
    padding: 10px 10px 18px;
    position: relative;
    float: left;
}

.product_code {
    font-size: 12px;
    color: #666;
}

.product_status_tooltip_container {
    float: right;
    margin-top: 0;
}

.product_status {
    cursor: pointer;
    color: #093;
    border-bottom: 1px dotted #093;
    text-decoration: none;
}

.product_status:hover {
    border-bottom-color: transparent;
}

.product_photo {
    position: relative;
    margin: 10px 0 4px;
    width: 220px;
    height: 220px;
}

.product_photo a {
    display: block;
}

.product_photo img {
    max-width: 100%;
    height: auto;
}

.product_description {
    margin: 0;
    display: block;
    min-height: 90px;
    font-weight: 700;
    line-height: 18px;
}

.product_tags p {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    color: #545454;
    font-weight: 700;
    margin: 0;
}

.product_tags a {
    display: inline;
    font-size: 13px;
    line-height: 16px;
    color: #666;
}

.product_tags a {
    text-decoration: none;
}

@media (max-width: 1249px) and (min-width: 1000px) {
    .product_tags p {
        font-size: 13px;
    }

    .product_tags a {
        font-size: 12px;
        line-height: 14px;
    }
}

.product_tags a:hover {
    text-decoration: underline;
}

.product_description a {
    text-decoration: none;
}

.product_description a:hover {
    text-decoration: underline;
}

.product_count_wrapper {
    line-height: 37px;
    height: 40px;
    width: 67px;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.product_count_wrapper .stepper-arrow.up {
    background-position: -28px 0;
}

.product_count_wrapper .stepper-arrow.up:hover {
    background-color: #666;
    background-position: -1px 0;
}

.product_count_wrapper .stepper-arrow.down {
    background-position: -28px -20px;
}

.product_count_wrapper .stepper-arrow.down:hover:hover {
    background-color: #666;
    background-position: -1px -20px;
}

.product .btn_cart {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 148px;
    padding: 0 0 0 20px;
    cursor: pointer;
}

.product .btn_cart .ic_cart {
    position: absolute;
    top: 10px;
    left: 10px;
}

.product_price_club_card {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin: 0;
    position: absolute;
    bottom: 164px;
    right: 8px;
}

.product_price_club_card_text {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    line-height: 17px;
    margin-right: 16px;
}

.product_price_default {
    color: #a7a7a7;
    font-size: 25px;
    margin: 0;
    position: absolute;
    bottom: 134px;
    right: 8px;
}

.product.product_horizontal .product_price_points {
    display: block;
    position: absolute;
    right: 12px;
    top: 75px;
}

.product .product_price_points {
    display: none;
}

.product_price_points p {
    font-size: 12px;
    line-height: 17px;
    color: #999;
}

@media (min-width: 0) and (max-width: 999px) {
    .product_price_club_card_text {
        margin-right: 0;
    }
}

@media (min-width: 1000px) {
    .product_horizontal .product_price_club_card {
        top: 40px;
        bottom: inherit;
    }

    .product_horizontal .product_price_default {
        top: 80px;
        bottom: inherit;
    }
}

@media (max-width: 1249px) and (min-width: 1000px) {
    .product_horizontal .product_price_club_card {
        top: 5px;
        bottom: inherit;
    }

    .product_horizontal .product_price_default {
        top: 45px;
        bottom: inherit;
    }

    .product_price_club_card_text {
        margin-right: 0;
    }
}

@media (min-width: 1250px) {
    .product.product_horizontal .product_price_points {
        top: 110px;
    }
}

.product_horizontal {
    display: table;
    float: none;
    width: 99%;
    height: 240px;
}

.product_horizontal .product_photo {
    float: left;
    margin: 0;
}

.product_horizontal .product_code {
    position: absolute;
    top: 11px;
    left: 248px;
}

.product_horizontal .product_description {
    float: left;
    padding: 28px 70px 0 19px;
    width: 505px;
    font-size: 16px;
    line-height: 24px;
}

.product .product_tags {
    display: none;
}

.product.product_horizontal .product_tags {
    display: block;
}

.product_horizontal .product_tags {
    float: left;
    padding: 0 0 65px 20px;
    width: 505px;
    font-size: 16px;
    line-height: 17px;
}

.product_horizontal .product_count_wrapper {
    left: auto;
    right: 164px;
}

@media (min-width: 0px) and (max-width: 999px) {
    .product_horizontal {
        display: block;
        float: left;
        width: 240px;
        height: 545px;
    }

    .product_horizontal .btn_cart {
        right: 10px;
        bottom: 50px;
    }

    .product_horizontal .product_photo {
        float: none;
        margin: 10px 0 4px;
    }

    .product_horizontal .product_code {
        position: static;
    }

    .product_horizontal .product_description {
        padding: 0;
        width: auto;
        font-size: 14px;
        line-height: 20px;
        float: none;
    }

    .product_horizontal .product_tags {
        padding: 0;
        width: auto;
        font-size: 14px;
        line-height: 22px;
        float: none;
    }

    .product_horizontal .product_status_tooltip_container {
        position: static;
    }

    .product_horizontal .product_price_club_card {
        font-size: 28px;
        bottom: 160px;
        right: 8px;
    }

    .product_horizontal .product_price_default {
        font-size: 26px;
        bottom: 134px;
        right: 8px;
    }

    .product_horizontal .rouble__i svg#rouble__b {
        height: 21px;
    }

    .product_horizontal .rouble__i svg#rouble__g {
        height: 20px;
    }
}

@media (min-width: 1000px) and (max-width: 1249px) {
    .product_horizontal {
        height: 200px;
    }

    .product_horizontal .btn_cart {
        right: 13px;
        bottom: 40px;
    }

    .product_horizontal .product_photo {
        width: 160px;
        height: 160px;
    }

    .product_horizontal .product_code {
        top: 10px;
        left: 180px;
    }

    .product_horizontal .product_description {
        padding: 30px 20px 0 12px;
        width: 330px;
        font-size: 14px;
        line-height: 22px;
    }

    .product_horizontal .product_tags {
        padding: 3px 0 65px 11px;
        width: 330px;
        font-size: 14px;
        line-height: 18px;
    }

    .product_horizontal .product_status_tooltip_container {
        position: absolute;
        top: 8px;
        left: 267px;
    }

    .product_horizontal .product_price_club_card {
        bottom: 138px;
        right: 10px;
    }

    .product_horizontal .product_price_default {
        bottom: 108px;
        right: 10px;
    }

    .product_horizontal .product_count_wrapper {
        right: 167px;
        bottom: 40px;
    }
}

@media (min-width: 1000px) and (max-width: 1249px) {
    .product_description a {
        position: relative;
        top: 4px;
    }
}

.product.product_horizontal .product_units {
    position: absolute;
    right: 12px;
    top: 95px;
    bottom: inherit;
}

.product .product_units {
    position: absolute;
    right: 15px;
    top: inherit;
    bottom: 105px;
    z-index: 9;
}

.product_units p {
    font-size: 13px;
    line-height: 17px;
}

@media (min-width: 0px) and (max-width: 999px) {
    .product.product_horizontal .product_units {
        position: absolute;
        right: 15px;
        top: inherit;
        bottom: 95px;
    }

    .product_price_points {
        display: none !important;
    }
}

@media (min-width: 1250px) {
    .product.product_horizontal .product_units {
        top: 130px;
    }

    .product_price_points {
        top: 105px;
    }
}

.product_units .unit--wrapper {
    display: table;
    width: 100%;
}

.product_units .unit--select {
    float: left;
    padding: 3px 5px;
    margin: 0 0 0 5px;
    cursor: pointer;
}

.product_units .unit--select.unit--active {
    background: #000;
    cursor: default;
}

.product_units .unit--select.unit--active p {
    color: #fff;
    border-bottom: 1px solid transparent;
}

.product_units .unit--select p {
    font-size: 13px;
    line-height: 13px;
    color: #707070;
    border-bottom: 1px dotted #707070;
    transition: .2s;
    -webkit-transition: .2s;
}

.product_units .unit--select:hover p {
    border-bottom: 1px solid transparent;
}

.list--unit-desc {
    position: absolute;
    width: 222px;
    right: 12px;
    bottom: 85px;
    margin: 10px 0 5px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
}

.list--unit-desc:before {
    margin-bottom: -1px;
    border-color: #ccc;
    color: #ccc;
    left: 13px;
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
}

.list--unit-desc:after, .list--unit-desc:before {
    content: '';
    position: absolute;
    bottom: -7px;
    border-top: 8px solid;
    display: block;
    width: 0;
    height: 0;
}

.list--unit-desc:after {
    border-color: #fff !important;
    left: 14px;
    border-left: 7px solid transparent !important;
    border-right: 7px solid transparent !important;
}

.list--unit-desc .unit--desc-i {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    margin: 8px 10px 0 0;
    background: url(images/icons/product/unit--i.png) 50% no-repeat;
    background-size: cover;
}

.list--unit-desc .unit--desc-t {
    display: inline-block;
}

.list--unit-desc .unit--desc-t p {
    font-size: 13px;
    line-height: 15px;
}

.list--unit-desc .unit--desc-t p span {
    display: block;
}

.list--unit-padd {
    display: table;
    width: 1px;
    height: 230px;
}

@media (min-width: 0) and (max-width: 1000px) {
    .list--unit-desc {
        display: none;
        width: 219px;
        bottom: 95px;
        right: 9px;
    }
}

@media (min-width: 1250px) {
    .list--unit-desc {
        bottom: 95px;
        right: 10px;
    }

    .list--unit-padd {
        height: 275px;
    }
}

.product_photo {
    text-align: center;
}

.product_photo img {
    max-width: 160px;
    max-height: 160px;
}

.rouble__i {
    width: 27px;
    height: 20px;
}

.rouble__i svg#rouble__b, .rouble__i svg#rouble__g {
    width: 19px;
    height: 19px;
    vertical-align: inherit;
}

.url--link {
    cursor: pointer;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus:-moz-placeholder, :focus::-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

.product__area {
    display: table;
    width: 100%;
}

.stepper-arrow.up {
    background-position: -28px 0;
    border: 1px solid #ccc;
    border-bottom: none;
}

.stepper-arrow.down {
    background-position: -28px -19px;
    border: 1px solid #ccc;
}

.stepper-arrow.up:hover {
    background-color: #ccc;
    background-position: -2px 0;
}

.stepper-arrow.down:hover {
    background-color: #ccc;
    background-position: -1px -19px;
}

.stepper-arrow {
    position: static;
}